body {
  background: url(../images/daisy.jpg) center / cover;
height: 60vh;
justify-content: center;
}

h1 {
  color: RGB(231,38,101);
  font-weight: 600;
  justify-content: center;
  text-align: left;
  padding-left: 3rem;
}

label {
  color: RGB(255,255,255);
  font-weight: 500;
  font-size: 25px;
  text-align: justify;
  padding-left: 3rem;

}

button {
  color: 	RGB(238,122,159);
  font-weight: bold;
  font-size: 14px;
}
